<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="alert(message, id, type, title, gardenID, alertType)" class="alert-container">
    <div th:id="${id}" th:class="'alert alert-' + ${type} + ' alert-dismissible fade show element'" role="alert">
        <strong th:text="${title}"></strong>
        <span th:text="${message}"></span>
        <form th:action="@{/dismiss-alert}" method="post" th:object="${gardenID}" style="display: none;" id="dismissForm-${id}">
            <input type="hidden" name="alertType" th:value="${alertType}"/>
            <input type="hidden" name="gardenID" th:value="${gardenID}"/>
        </form>
        <button type="button" class="btn-close" aria-label="Close" onclick="document.getElementById('dismissForm-${id}').submit();"></button>
    </div>
</div>
</body>
</html>
