<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="changePasswordForm">
    <form id="changePasswordForm" style="display: none;" th:action="@{/change-password}" method="post" novalidate>
        <label for="oldPassword">Old Password:</label>
        <input type="password" id="oldPassword" th:name="oldPassword" required>
        <br/>
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" th:name="newPassword" required>
        <br/>
        <label for="retypePassword">Retype Password:</label>
        <input type="password" id="retypePassword" th:name="retypePassword" required>
        <br/>
        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>