<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <body>
        <ul th:fragment="navBar" class="navBar navbar navbar-expand-lg">
            <!-- NavBar page links -->
            <div class="container-fluid navBar-centre">
                <li><a class="navLink" th:href="@{main}">Main</a></li>
                <li><a class="navLink" th:href="@{view-user-profile}">View Profile</a></li>
                <li><a class="navLink" th:href="@{create-garden}">Create New Garden</a></li>
                <li><a class="navLink" th:href="@{view-gardens}">View Gardens</a></li>
                <li><a class="navLink" th:href="@{manage-friends}">Manage Friends</a></li>
                <li><a class="navLink" th:href="@{browse-gardens}">Browse Gardens</a></li>
                <li><a class="navLink" th:href="@{messages}">Messages</a></li>
                <li><a class="navLink" th:href="@{shop}">Shop</a></li>
                <li><a class="navLink" th:href="@{games}">Games</a></li>
                <li><a class="navLink" th:href="@{daily-spin}">Daily Spin</a></li>
                <li><a class="navLink" th:href="@{inventory}">Inventory</a></li>
            </div>

            <!--            Displays user's Bloom currency -->
            <div class="balanceDisplay">
                <div class="svg">
                    <div class="svg-fragment" th:replace="~{fragments/iconFragment.html :: iconFragment}"></div>
                </div>
                <!-- Include the SVG Icon-->
                <!-- bloomBalance is from the global controller. -->
                <span class="navBar-bloom-display" id="bloomBalanceNavbar" th:text="${bloomBalance}"></span>
            </div>
            <!-- Logout form button -->
            <li class="navBar-logout">
                <form th:action="@{/logout}" class="navBar-logout-form" method="post">
                    <input type="submit" value="Log Out" class="navBar-logout-button">
                </form>
            </li>
        </ul>
    </body>
</html>
