<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="alert(message, id)" class="water-alert">
    <div id="${id}" class="alert alert-warning alert-dismissible fade show element" role="alert">
        <strong>Alert!</strong>
        <span th:text="${message}"></span>
        <button type="button" class="button" data-dismiss="alert" aria-label="Close" onclick="toggleWaterAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>

</html>


