<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        .highlight {
            border: 2px solid red;
            padding: 10px;
            background-color: #ffdddd;
        }
    </style>

    <script>
        function toggleAlert(id) {
            console.log(`ID is ${id}`);
            const alertElement = document.getElementById(id);
            if (alertElement) {
                alertElement.hidden = !alertElement.hidden;
            }
        }
    </script>

</head>
<body>
<div th:fragment="alert(message, id)" class="weather-alert">
    <div id="${id}" class="alert alert-danger alert-dismissible fade show element" role="alert">
        <strong>Warning!</strong>
        <span th:text="${message}"></span>
        <button type="button" class="button" data-dismiss="alert" aria-label="Close" onclick="toggleWeatherAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>


</html>


