<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="alert(message, id)" class="weather-alert">
    <div th:id="${id}" class="alert alert-danger alert-dismissible fade show element" role="alert">
        <strong>Warning!</strong>
        <span th:text="${message}"></span>
        <button type="button" class="button" data-dismiss="alert" aria-label="Close" onclick="toggleWeatherAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
</body>
</html>
