.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.error, .form-control {
    width: 300px;
    font-size: 100%;
}
.message {
    width: 300px;
    font-size: 101%;
}
.error {
    border: 1px solid red;
    outline: 1px solid red;
    border-radius: 2px;
}
.error:focus {
    outline: 2px solid red;
}
.error-message {
    color: red;
    display: block;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}
button, label {
    font-size: 120%;
}

.buttons-centre {
    display: flex;
    justify-content: flex-end;
}
.buttons-right {
    display: flex;
    justify-content: flex-end;
}

h2 {
    text-align: center;
}
.link {
    font-size: 120%;
}
.profile-picture {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}
@media only screen and (orientation: portrait) {
    h2 {
        font-size: 300%;
    }
    button {
        font-size: 200%;
    }
    label {
        font-size: 200%;
    }
    .form-control {
        font-size: 180%;
        width: 540px;
        border: 2px solid;
        border-radius: 2px;
    }
    .message {
        font-size: 182%;
        width: 540px;
    }
    .form-control[disabled] {
        border-color: #ccc;
    }
    .error {
        font-size: 180%;
        width: 540px;
        border: 2px solid red;
        border-radius: 2px;
        outline: 2px solid red;
    }
    .error:focus {
        outline: 4px solid red;
    }
    .error-message {
        width: 540px;
        font-size: 150%;
    }
    .checkbox {
        transform: scale(1.5);
    }
    .link {
        font-size: 200%;
    }
    .profile-picture {
        width: 360px;
    }
}
