body {
    background-color: #E2F1CA;
    font-family: Verdana, sans-serif;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.form-control {
    width: 350px;
    font-size: 100%;
    background-color: #BEE186;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #3D7B36;
    outline: 1px solid #3D7B36;
}
.form-control:focus {
    outline: 2px solid #3D7B36;
}

.form-control:disabled {
    background-color: #f1faf2;
    border: 1px solid #c8cec9;
    outline: 1px solid #c8cec9;
}
.message {
    width: 350px;
    font-size: 101%;
}

.error {
    border: 1px solid #DE2929;
    outline: 1px solid #DE2929;
}
.error:focus {
    outline: 2px solid #DE2929;
}
.error-message {
    color: #DE2929;
    display: block;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.confirmation-message {
    display: block;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
button, label {
    font-size: 120%;
}
.checkbox {
    accent-color: #80A444;
    transform: scale(1.2);
}

button {
    background-color: #3D7B36;
    color: white;
    border-radius: 10px;
    border-width: 0;
    padding: 5px 10px 5px 10px;
    margin: 2px;
}
button:hover {
    background-color: #72543C;
    cursor: pointer;
}

.buttons-centre {
    display: flex;
    justify-content: flex-end;
}
.buttons-right {
    display: flex;
    justify-content: flex-end;
}

h2 {
    text-align: center;
    color: #0A3407;
}
.link {
    font-size: 120%;
    color: #72543C;
}
.profile-picture {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image_picker {
    position: absolute;
    top: 0; right: 0;
    cursor: pointer;
    background-color: #dedede;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    border: solid black 1px;
}

.image {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: black solid 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@media only screen and (orientation: portrait) {
    h2 {
        font-size: 300%;
    }
    button {
        font-size: 200%;
    }
    label {
        font-size: 200%;
    }
    .form-control {
        font-size: 180%;
        width: 540px;
        border: 2px solid #3D7B36;
    }
    .form-control:focus {
        outline: 4px solid #3D7B36;
    }
    .message {
        font-size: 182%;
        width: 540px;
    }
    .form-control[disabled] {
        border: 2px solid #c8cec9;
    }
    .error {
        font-size: 180%;
        width: 540px;
        border: 2px solid #DE2929;
        outline: 2px solid #DE2929;
    }
    .error:focus {
        outline: 4px solid #DE2929;
    }
    .error-message {
        width: 540px;
        font-size: 150%;
    }
    .checkbox {
        transform: scale(1.5);
    }
    .link {
        font-size: 200%;
    }
    .profile-picture {
        width: 360px;
    }
}

