.content {
    padding-top: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.centre {
    justify-content: center;
    display: flex;
}
button {
    font-size: 140%;
}
.form {
    font-size: 140%;
}
h1 {
    font-size: 200%;
    text-align: center;
}
@media only screen and (orientation: portrait) {
    .content {
        padding-top: 25%; /* Decrease top padding for vertical screens */
        justify-content: center;
        display: flex;
    }

    h1 {
        font-size: 350%; /* Increase font size for vertical screens */
    }

    button {
        font-size: 250%; /* Increase button font size for vertical screens */
    }
    .form {
        font-size: 250%;
    }
}