body {
    background-color: floralwhite;
    font-family: Verdana, sans-serif;
}
.content {
    padding-top: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.centre {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    max-height: 350px;
    height: 350px;
    max-width: fit-content;
}
.plant-card {
    background-color: #E2F1CA;
}

.button {
    font-size: 150%;
    background-color: #3D7B36;
    color: floralwhite;
    border-radius: 10px;
    border-width: 0;
    padding: 5px 10px 5px 10px;
    margin: 2px;
}
.button:hover {
    background-color: #72543C;
    cursor: pointer;
}

button#backButton {
    margin-left: 30px;
    margin-top: 30px;
}
.quiz-option-button, .quiz-option-button.correct {
    height: 120px;
    width: 300px;
    border-radius: 5px;
    border-width: 0;
    background-color: #72543C;
    color: floralwhite;
    font-size: 120%;
    font-weight: bold;
    white-space: pre-wrap;

}

.quiz-option-button:hover, .quiz-option-button.correct:hover {
    background-color: #574536;
    cursor: pointer;
}
.quiz-option-button:hover:disabled, .quiz-option-button.correct:hover:disabled {
    background-color: #72543C;;
    cursor: default;
}

.quiz-option-button.clicked, .quiz-option-button.clicked:hover {
    background-color: darkred;
    cursor: default;
}

.quiz-option-button.clicked.correct, .quiz-option-button.clicked.correct:hover {
    background-color: #4CAF50;
    cursor: default;
}

.logout-button {
    font-size: 140%;
    border-radius: 5px;
    background-color : #BEE186;
}

.form {
    font-size: 140%;
}
h1 {
    font-size: 200%;
    text-align: center;
    margin: 0;
    color: #0A3407;
}

h2 {
    font-size: 200%;
    text-align: center;
    margin: 0;
    color: #0A3407;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rows {
    margin-bottom: 150px;
}

.buttons-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
}

.search-friend {
    text-align: center;
}

.search-field {
    font-size: 150%;
    max-width: 292px;
    background-color: #E2F1CA;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #BEE186;
    outline: 1px solid #BEE186;
}

.search-field:focus {
    outline: 2px solid #3D7B36;
}
.search-button {
    justify-content: flex-end;
    font-size: 120%;
}

.search-field-message {
    text-align: center;

}

.error {
    border: 1px solid #DE2929;
    outline: 1px solid #DE2929;
}
.error:focus {
    outline: 2px solid #DE2929;
}
.error-message {
    color: #DE2929;
    display: block;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (orientation: portrait) {
    .content {
        padding-top: 25%; /* Decrease top padding for vertical screens */
        justify-content: center;
        display: flex;
    }

    h1 {
        font-size: 350%; /* Increase font size for vertical screens */
    }

    button {
        font-size: 250%; /* Increase button font size for vertical screens */
    }
    .form {
        font-size: 250%;
    }
}
