/* Navbar styles */
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    line-height: 50px;
    display: flex;
    /*justify-content: center;*/
}

ul {
    text-align: center;
}

/* List item styles */
li {
    display: inline;
}

/* Navigation link styles */
.navLink {
    color: white;
    font-size: 120%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
    /*display: flex;*/
    /*justify-content: center;*/
}

.navLink:hover {
    background-color: #000;
}

/* Navigation bar form styling */
.navBar-logout {
    /*display: inline;*/
    /*margin: 0;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    margin-left: auto;
}

.navBar-centre {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navBar-logout-form {
    /*padding: 0;*/
}

.navBar-logout-button {
    background-color: #333;
    border: none;
    color: white;
    font-size: 120%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    font-family: inherit;
    width: 100%;
    margin-right: 30px;
}

.navBar-logout-button:hover {
    background-color: #000;
}

@media only screen and (orientation: portrait) {
    .navLink {
        font-size: 200%;
    }

    .navBar-logout-button {
        font-size: 200%;
    }
}