/* Navbar styles */
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #0A3407;
    overflow: hidden;
    line-height: 50px;
    display: flex;
}

ul {
    text-align: center;
}

/* List item styles */
li {
    display: inline;
}

/* Navigation link styles */
.navLink {
    color: floralwhite;
    font-size: 120%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
}

.navLink:hover {
    color: #80A444;
}

/* Navigation bar form styling */
.navBar-logout {
    margin-left: auto;
}

.navBar-centre {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


.navBar-logout-button {
    background-color: #0A3407;
    color: floralwhite;
    font-size: 120%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    font-family: inherit;
    width: 100%;
    margin-right: 30px;
    border: 0 none;
    outline: 0 none;

}

.navBar-logout-button:hover {
    color: #80A444;
}

@media only screen and (orientation: portrait) {
    .navLink {
        font-size: 200%;
    }

    .navBar-logout-button {
        font-size: 200%;
    }
}
