/* Navbar styles */
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    line-height: 50px;
}

/* List item styles */
li {
    display: inline;
    padding: 0 10px;
}

/* Navigation link styles */
.navLink {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
}

.navLink:hover {
    background-color: #000;
}

/* Navigation bar form styling */
.navBar-form {
    display: inline;
    margin: 0;
}

.navBar-form-input {
    background-color: #333;
    border: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
}

.navBar-form-input:hover {
    background-color: #000;
}
