<!DOCTYPE html>
<html lang="en">
    <!-- Head fragment holding all the style sheets-->
    <head th:replace="fragments/head :: head(title='Browse Gardens')">

    </head>
    <body>
        <!-- NavBar Fragment -->
        <ul th:insert="~{fragments/navBar.html :: navBar}"></ul>

        <div class="wrapper">
            <div class="search-container">
                <form th:action="@{/browse-gardens}" method="post" novalidate th:hidden="${showSearch}">
                    <div class="search-div">
                        <label for="search"></label>
                        <input th:name="search"
                               th:value="${search}"
                               class="search-field"
                               id="search"
                               type="text"
                               placeholder="Browse public gardens">
                        &nbsp;&nbsp;&nbsp;
                        <div class="search-button">
                            <button type="submit" onclick="searchAndShowResults()">Search</button>
                        </div>
                    </div>

                    <input type="hidden" name="action" th:id="search-action" th:value="invite" />
                    <input type="hidden" name="email"  th:id="search-email" />

                    <div class="search-friend" id="searchFriend">
                        <br/>
                        <p th:if="${searchResultMessage}" class="search-field-message" th:text="${searchResultMessage}"></p>

                    </div>

                    <div>
                        <ul>
                            <li th:each="garden : ${gardens}">
                                <div class="friend-form">
                                    <div class="align-left">
                                        <h3 th:text="${garden.name}"></h3>
                                    </div>
                                    <div class="empty-space"></div>

                                </div>
                            </li>
                        </ul>
                    </div>

                </form>
            </div>

        </div>

        <!-- Scripts fragment, contains bootstrap scripts -->
        <div th:replace="~{fragments/scripts :: scripts}"></div>
    </body>
</html>
