<!DOCTYPE html>
<html lang="en">
    <!-- Head fragment holding all the style sheets-->
    <head th:replace="fragments/head :: head(title='Browse Gardens')">

    </head>
    <body>
        <!-- NavBar Fragment -->
        <ul th:insert="~{fragments/navBar.html :: navBar}"></ul>

        <div class="wrapper">
            <div class="search-container">
                <form th:action="@{/browse-gardens}" method="get" novalidate>
                    <div class="search-div">
                        <label>
                            <input th:name="q"
                                   th:value="${q}"
                                   type="search"
                                   placeholder="Browse public gardens">
                        </label>
                        &nbsp;&nbsp;&nbsp;
                        <div class="search-button">
                            <button type="submit" class="btn btn-primary button">Search</button>
                        </div>
                    </div>
                </form>
                <div class="col tag-error">
                    <div th:if="${noResults}" class="text-danger" th:text="${noResults}"></div>
                </div>

                <div>
                    <ul>
                        <li th:each="garden : ${gardenPage.content}">
                            <div class="friend-form">
                                <div class="align-left">
                                    <a th:href="@{'/view-garden?gardenID=' + ${garden.id}}">
                                        <h3 th:text="${garden.name}"></h3>
                                    </a>

                                </div>
                                <div class="empty-space"></div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <nav aria-label="Page navigation" class="paging">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" th:href="@{'/browse-gardens?page=1' + '&q=' + ${q}}">First</a>
                </li>
                <li class="page-item" th:classappend="${!gardenPage.hasPrevious() ? 'disabled' : ''}" disabled>
                    <a class="page-link" th:href="@{'/browse-gardens?page=' + ${gardenPage.number + 0} + '&q=' + ${q}}">Previous</a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence(-1, 3)}"
                    th:classappend="${i == 1} ? 'active' : ''"
                    th:if="${gardenPage.number + i >= 1 && gardenPage.number + i <= gardenPage.totalPages}">
                    <a th:if="${i != 1}"
                       th:class="page-link"
                       th:text="${gardenPage.number + i}"
                       th:href="@{'/browse-gardens?page=' + ${gardenPage.number + i} + '&q=' + ${q}}">
                    </a>
                    <span th:if="${i == 1}"
                          th:class="page-link"
                          th:text="${gardenPage.number + 1}">
                    </span>
                </li>
                <li class="page-item" th:classappend="${!gardenPage.hasNext() ? 'disabled' : ''}">
                    <a class="page-link" th:href="@{'/browse-gardens?page=' + ${gardenPage.number + 2} + '&q=' + ${q}}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" th:href="@{'/browse-gardens?page=' + ${gardenPage.totalPages} + '&q=' + ${q}}">Last</a>
                </li>
            </ul>
        </nav>
        <span th:text="${'Showing results ' + ((gardenPage.number * 10) + 1) + ' to ' + ((gardenPage.number * 10) + gardenPage.numberOfElements) + ' of ' + gardenPage.totalElements}"></span>

        <!-- Scripts fragment, contains bootstrap scripts -->
        <div th:replace="~{fragments/scripts :: scripts}"></div>
    </body>
</html>
