<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Create Garden</title>
        <link th:href="@{/css/generalStyles.css}" rel="stylesheet">
        <link th:href="@{/css/navBar.css}" rel="stylesheet">
        <script th:src="@{/javascript/hover-enter.js}"></script>
        <script th:src="@{/javascript/autocomplete.js}"></script>
        <script th:src="@{javascript/prevent-enter-submit.js}"></script>
    </head>
    <body>
        <!-- Navigation Bar Fragment -->
        <ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
        <div class="wrapper">
            <div class="container">
                <table class="sideBar">
                    <thead>
                    <tr>
                        <th class="garden-header">Gardens</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="garden : ${gardens}">
                        <td><a class="gardenLink" th:href="@{'/view-garden?gardenID=' + ${garden.id}}"><span th:text="${garden.name}"> Name </span></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <div class="form">
                <h2>Create Garden</h2>
                <div class="formContainer">
                    <form th:action="@{/create-garden}" method="post" th:object="${garden}">
                        <div>
                            <div>
                                <label for="name"> Garden Name:
                                    <span class="required-input"> * </span>
                                </label>
                                <br/>
                                <input type="text" class="form-control" id="name"
                                       th:name="name"
                                       th:value="*{name}"
                                       th:classappend="${nameError} ? 'error' : 'form-control'">
                                <p th:if="${nameError}" class="error-message" th:text="${nameError}"></p>
                            </div>
                        </div>
                        <div class="locationTable" id="locationContainer">
                            <div>
                                <br/>
                                <div id="autocompleteContainer"></div>
                                <ul class="suggestions" id="suggestions"></ul>
                                <br/>
                                <label for="streetAddress" id="streetAddressLabel">Street Address: </label>
                                <br/>
                                <input type="text" class="form-control" id="streetAddress"
                                       th:name="location.streetAddress"
                                       th:value="*{location.streetAddress}"
                                       th:classappend="${location_streetAddressError} ? 'error' : 'form-control'">
                                <br/>
                                <p th:if="${location_streetAddressError}" class="error-message" th:text="${location_streetAddressError}"></p>
                                <br/>
                                <label for="suburb" id="suburbLabel">Suburb: </label>
                                <br/>
                                <input type="text" class="form-control" id="suburb"
                                       th:name="location.suburb"
                                       th:value="*{location.suburb}"
                                       th:classappend="${location_suburbError} ? 'error' : 'form-control'">
                                <br/>
                                <p th:if="${location_suburbError}" class="error-message" th:text="${location_suburbError}"></p>
                                <br/>
                                <label for="city" id="cityLabel">City:
                                    <span class="required-input"> * </span>
                                </label>
                                <br/>
                                <input type="text" class="form-control" id="city"
                                       th:name="location.city"
                                       th:value="*{location.city}"
                                       th:classappend="${location_cityError} ? 'error' : 'form-control'">
                                <br/>
                                <p th:if="${location_cityError}" class="error-message" th:text="${location_cityError}"></p>
                                <br/>
                                <label for="postcode" id="postcodeLabel">Postcode: </label>
                                <br/>
                                <input type="text" class="form-control" id="postcode"
                                       th:name="location.postcode"
                                       th:value="*{location.postcode}"
                                       th:classappend="${location_postcodeError} ? 'error' : 'form-control'">
                                <br/>
                                <p th:if="${location_postcodeError}" class="error-message" th:text="${location_postcodeError}"></p>
                                <br/>
                                <label for="country" id="countryLabel">Country:
                                    <span class="required-input"> * </span>
                                </label>
                                <br/>
                                <input type="text" class="form-control" id="country"
                                       th:name="location.country"
                                       th:value="*{location.country}"
                                       th:classappend="${location_countryError} ? 'error' : 'form-control'">
                                <br/>
                                <p th:if="${location_countryError}" class="error-message" th:text="${location_countryError}"></p>
                                <br/>
                            </div>
                        </div>
                        <br/>
                        <div>
                            <div>
                                <label for="size">
                                    Garden Size (m<sup>2</sup>):
                                </label>
                                <br/>
                                <input type="text" class="form-control" id="size"
                                       th:name="size"
                                       th:value="*{size}"
                                       th:classappend="${sizeError} ? 'error' : 'form-control'">
                                <p th:if="${sizeError}" class="error-message" th:text="${sizeError}"></p>
                            </div>
                        </div>
                        <br/>
                        <div class="buttons-centre">
                            <button type="submit">Create</button>
                            &nbsp;
                            <a th:href="@{${lastEndpoint}}" id="cancel">
                                <button type="button">Cancel</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="empty_space">
            </div>
            <br/>
        </div>
    </body>
</html>
