<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Create Garden</title>
    <link href="/css/gardenStyles.css" rel="stylesheet">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
</head>
<body>
<!-- Navigation Bar Fragment -->
<ul th:insert="/fragments/navBar.html :: navBar"></ul>
<div class="wrapper">
    <div class="container">
        <table class="sideBar">
            <thead>
            <tr>
                <th>Gardens</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="garden : ${gardens}">
                <td><a class="gardenLink" th:href="@{'/view-garden?gardenID=' + ${garden.id}}"><span th:text="${garden.name}"> Name </span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="formContainer">
        <h1>Create Garden</h1>
        <form th:action="@{/create-garden}" method="post" th:object="${garden}">
            <div class="formRow">
                <label for="name"> Garden Name </label>
                <input type="text" id="name" placeholder="Garden Name"
                       th:name="name"
                       th:value="*{name}"
                       th:classappend="${nameError} ? 'error' : ''">
                <p th:if="${nameError}" class="errors" th:text="${nameError}"></p>
            </div>
            <br/>
            <table class="locationTable" id="locationContainer">
                <tr>
                    <th>Location</th>
                    <th><div id="autocompleteContainer"></div></th>
                </tr>
                <tr>
                    <td><label for="streetAddress" id="streetAddressLabel">Street Address </label></td>
                    <td><input type="text" id="streetAddress" placeholder="Street Address"
                               th:name="location.streetAddress"
                               th:value="*{location.streetAddress}">
                </tr>
                <tr>
                    <td><label for="suburb" id="suburbLabel">Suburb </label></td>
                    <td><input type="text" id="suburb" placeholder="Suburb"
                               th:name="location.suburb"
                               th:value="*{location.suburb}">
                </tr>
                <tr>
                    <td><label for="city" id="cityLabel">City </label></td>
                    <td>
                        <input type="text" id="city" placeholder="City"
                               th:name="location.city"
                               th:value="*{location.city}"
                               th:class="${location_cityError != null ? 'error' : ''}">
                        <p th:if="${location_cityError != null}" class="errors" th:text="${location_cityError}"></p>
                    </td>
                </tr>
                <tr>
                    <td><label for="postcode" id="postcodeLabel">Postcode </label></td>
                    <td><input type="text" id="postcode" placeholder="Postcode"
                               th:name="location.postcode"
                               th:value="*{location.postcode}">
                </tr>
                <tr>
                    <td><label for="country" id="countryLabel">Country </label></td>
                    <td>
                        <input type="text" id="country" placeholder="Country"
                               th:name="location.country"
                               th:value="*{location.country}"
                               th:classappend="${location_countryError} ? 'error' : ''">
                        <p th:if="${location_countryError}" class="errors" th:text="${location_countryError}"></p>
                    </td>
                </tr>
            </table>
            <ul id="suggestions"></ul>
            <br/>
            <div class="formRow">
                <label for="size"> Garden Size </label>
                <input type="text" id="size" placeholder="Garden Size"
                       th:name="size"
                       th:value="*{size}"
                       th:classappend="${sizeError} ? 'error' : ''">
                <p th:if="${location_countryError}" class="errors" th:text="${sizeError}"></p>
            </div>
            <br/>
            <button type="submit">Create</button>
        </form>
        <form th:action="@{/Cancel}" method="get">
            <button type="submit">Cancel</button>
        </form>
    </div>
    <br/>
</div>
<script src="/javascript/hover_enter.js"></script>
<script src="/javascript/autocomplete.js"></script>

</body>
</html>
