<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gardener's Grove</title>
    <!-- Navbar styling -->
    <link th:href="@{/css/navBar.css}" rel="stylesheet"/>
    <link th:href="@{/css/homeMainStyles.css}" rel="stylesheet"/>
    <link th:href="@{/css/slot.css}" rel="stylesheet"/>
</head>
<body>
    <ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
    <div class="content">
        <div>
            <h1>Daily Spin</h1>
            <br/>
        </div>
    </div>

    <script th:inline="javascript">let bloomBalance = /*[[${bloomBalance}]]*/0; let amountWon = /*[[${amountWon}]]*/0; let slots = /*[[${slots}]]*/ [[]];</script>

    <div class="container" >
        <div class="money-container">
            <div id="money" th:text="${bloomBalance}"></div>
            <div class="changes"> </div>
            <button id="infoButton" class="info-button">i</button>
        </div>

        <div class="play-area">
            <div class="reel-container"></div>
            <div class="reel-container"></div>
            <div class="reel-container"></div>
            <div class="reel-container"></div>
            <div class="reel-container"></div>
        </div>
        <br>
        <form th:action="@{/daily-spin}" method="post">
<!--            <input type="hidden" name="_method" value="PUT">-->
            <input type="hidden" name="gameState" th:value="${gameState}"/>
            <button type="submit" class="spin-button" th:text="${buttonText}"></button>
        </form>
        <div class="info">
            <div class="instructions">
                Press to spin the reels.<br/> Match at least three on any row to win!<br/>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="prizeModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 class="rewards-centre">Rewards Table</h2>
            <div class="prize-table">
                <div class="triples">
                </div>
                <div class="quadruples">
                </div>
                <div class="quintuples">
                </div>
            </div>
        </div>
    </div>



<!--    TODO REMOVE THIS-->
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener("DOMContentLoaded", function() {
            let gameState = /*[[${gameState}]]*/ 'FREE_SPIN'; // Fallback in case gameState is null
            if (gameState === "SPINNING") {
                startSpin();
            }
        });
        /*]]>*/
    </script>


    <script th:src="@{/javascript/slot-machine.js}"></script>
</body>
</html>