<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Plant</title>
    <link href="/css/gardenStyles.css" rel="stylesheet">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
</head>
<body>
    <ul th:insert="/fragments/navBar.html :: navBar"></ul>
    <br/>

    <div class="formContainer">
        <h1>Edit Plant</h1>
        <form th:action="@{/edit-plant}" method="post" th:object="${plant}">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="plantID" th:value="${plantID}">
            <div class="formRow">
                <div>
                    <img class="image" th:data-plant-id="${plant.id}" th:data-picture="${plant.picture}" alt="">
                    <button class="image_picker" th:id="${'button_' + plant.id}">+</button>
                </div>
            </div>
            <div class="formRow">
                <label for="plantName"> Name: </label>
                <input type="text" id="plantName" placeholder="Name" th:value="*{name}" th:field="*{name}">
            </div>
            <div class="formRow">
                <label for="plantCount"> Count: </label>
                <input type="text" id="plantCount" placeholder="Count" th:value="*{count}" th:field="*{count}">
            </div>
            <div class="formRow">
                <label for="plantDescription"> Description: </label>
                <input type="text" id="plantDescription" placeholder="Description" th:value="*{description}" th:field="*{description}">
            </div>
            <div class="formRow">
                <label for="datePlanted"> Date Planted: </label>
                <input type="date" name="datePlanted" id="datePlanted" th:value="${datePlanted}">
<!--                <input type="text" name="datePlanted" id="datePlanted" placeholder="01/01/2024" th:value="${datePlanted}">-->
            </div>
            <br/>

            <div class="errors" th:if="${#fields.hasErrors('global')}">
                <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
            </div>
            <button type="submit">Save</button>
            <a th:href="@{${lastEndpoint}}" id="cancel">
                <button type="button">Cancel</button>
            </a>
        </form>
    </div>
    <br/>
    <script src="/javascript/redirect_image_handler.js"></script>
</body>
</html>
