<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Edit Garden</title>
    <link href="/css/gardenStyles.css" rel="stylesheet">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
</head>

<body>
    <ul th:insert="/fragments/navBar.html :: navBar"></ul>
    <div class="wrapper">
        <div class="container">
            <table class="sideBar">
                <thead>
                <tr>
                    <th>Gardens</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="garden : ${gardens}">
                    <td><a class="gardenLink" th:href="@{'/view-garden?gardenID=' + ${garden.id}}"><span th:text="${garden.name}"> Name </span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <br/>
        <div class="formContainer">
            <h1>Edit Garden</h1>
            <form th:action="@{'/edit-garden?gardenID=' + ${id}}" method="post" th:object="${garden}">
                <input type="hidden" name="_method" value="PUT">
                <div class="formRow">
                    <label for="name"> Garden Name: </label>
                    <input type="text" id="name" placeholder="Garden Name" th:value="*{name}" th:field="*{name}">
                </div>
                <br/>
                <table class="locationTable" id="locationContainer">
                    <tr>
                        <th>Location</th>
                        <th><div id="autocompleteContainer"></div></th>
                    </tr>
                    <tr>
                        <td colspan="2"><ul id="suggestions"></ul></td>
                    </tr>
                    <tr>
                        <td><label for="streetAddress" id="streetAddressLabel">Street Address: </label></td>
                        <td><input type="text" id="streetAddress" placeholder="Street Address" th:field="*{location.streetAddress}" th:value="*{location.streetAddress}" ></td>
                    </tr>
                    <tr>
                        <td><label for="suburb" id="suburbLabel">Suburb: </label></td>
                        <td><input type="text" id="suburb" placeholder="Suburb" th:field="*{location.suburb}" th:value="*{location.suburb}" ></td>
                    </tr>
                    <tr>
                        <td><label for="city" id="cityLabel">City </label></td>
                        <td><input type="text" id="city" placeholder="City" th:field="*{location.city}"th:value="*{location.city}"  th:classappend="${gardenCityError} ? 'error' : ''"></td>
                    </tr>
                    <tr>
                        <td><label for="postcode" id="postcodeLabel">Postcode: </label></td>
                        <td><input type="text" id="postcode" placeholder="Postcode" th:field="*{location.postcode}" th:value="*{location.postcode}" ></td>
                    </tr>
                    <tr>
                        <td><label for="country" id="countryLabel">Country: </label></td>
                        <td><input type="text" id="country" placeholder="Country" th:field="*{location.country}" th:value="*{location.country}" th:classappend="${gardenCountryError} ? 'error' : ''"></td>
                    </tr>
                </table>
                <br/>
                <div class="formRow">
                    <label for="size"> Garden Size: </label>
                    <input type="text" id="size" placeholder="Garden Size" th:value="*{size}" th:field="*{size}" th:classappend="${gardenSizeError} ? 'error' : ''">
                </div>
                <br/>
                <br/>
                <div class="errors" th:if="${#fields.hasErrors('global')}">
                    <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
                </div>
                <div class="buttons-centre">
                    <button style="margin-left: 50%" type="submit">Save</button>
                    <a th:href="@{${lastEndpoint}}" id="cancel">
                        <button type="button">Cancel</button>
                    </a>
                </div>
            </form>
        </div>
        <br/>
    </div>
    <script src="/javascript/hover_enter.js"></script>
    <script src="/javascript/autocomplete.js"></script>
</body>
</html>