<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Plant</title>
    <link href="/css/gardenStyles.css" rel="stylesheet">
</head>
<body>
    <ul class="navBar">
        <li><a class="navLink" th:href="@{/create-garden}">Create a Garden</a></li>
        <li><a class="navLink" th:href="@{/view-gardens}">View Gardens</a></li>
    </ul>

    <br/>

    <div class="formContainer">
        <h1>Edit Plant</h1>
        <form th:action="@{/edit-plant}" method="post" th:object="${plant}">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="plantID" th:value="${plantID}">
            <div class="formRow">
                <div>
                    <img class="image" alt="">
                    <button class="image_picker" th:id="${'button' + plant.id}">+</button>
                </div>
            </div>
            <div class="formRow">
                <label for="plantName"> Name: </label>
                <input type="text" id="plantName" placeholder="Name" th:value="*{name}" th:field="*{name}">
            </div>
            <div class="formRow">
                <label for="plantCount"> Count: </label>
                <input type="text" id="plantCount" placeholder="Count" th:value="*{count}" th:field="*{count}">
            </div>
            <div class="formRow">
                <label for="plantDescription"> Description: </label>
                <input type="text" id="plantDescription" placeholder="Description" th:value="*{description}" th:field="*{description}">
            </div>
            <div class="formRow">
                <label for="datePlanted"> Date Planted: </label>
                <input type="date" name="datePlanted" id="datePlanted" th:value="${datePlanted}">
<!--                <input type="text" name="datePlanted" id="datePlanted" placeholder="01/01/2024" th:value="${datePlanted}">-->
            </div>
            <br/>
            <button type="submit">Save</button>
            <div class="errors" th:if="${#fields.hasErrors('global')}">
                <p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error"></p>
            </div>
        </form>

        <form th:action="@{/Cancel}" method="get">
            <button type="submit">Cancel</button>
        </form>
    </div>
    <br/>
    <script src="/javascript/redirect_image_handler.js"></script>
</body>
</html>
