<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <title>Home</title>
        <link href="/css/homeMainStyles.css" rel="stylesheet"/>
<!--        <style>-->
<!--            body {-->
<!--                padding-top: 10%;-->
<!--            }-->
<!--            .centre {-->
<!--                justify-content: center;-->
<!--                display: flex;-->
<!--            }-->
<!--            button {-->
<!--                font-size: 140%;-->
<!--            }-->
<!--            h1 {-->
<!--                font-size: 200%;-->
<!--            }-->
<!--            @media only screen and (orientation: portrait) {-->
<!--                body {-->
<!--                    padding-top: 25%; /* Decrease top padding for vertical screens */-->
<!--                }-->
<!--                h1 {-->
<!--                    font-size: 350%; /* Increase font size for vertical screens */-->
<!--                }-->
<!--                button {-->
<!--                    font-size: 250%; /* Increase button font size for vertical screens */-->
<!--                }-->
<!--            }-->
<!--        </style>-->
    </head>
    <body>
    <div class="content">
        <div>
            <h1>Welcome to Gardener's Grove</h1>
            <br/>
            <div class="centre">
                <div>
                    <a th:href="@{/sign-in-form}">
                        <button type="button">Sign In</button>
                    </a>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div>
                    <a th:href="@{/register-form}">
                        <button type="button">Register</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script>
        if (localStorage.getItem('email')) {
            localStorage.removeItem('email');
        }
        if (localStorage.getItem('message')) {
            localStorage.removeItem('message');
        }
    </script>
    </body>
</html>