<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head(title='Inventory')">
</head>
<body>
    <!-- Navigation Bar Fragment -->
    <ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
    <div class="appBody">
        <div class="container p-0">
            <div class="row mt-5">
                <div th:each="item: ${badgeItems}" class="col content card ms-2 me-2">
                    <p class="item-price" th:text="${item[0]}"></p>
                    <img type="gif" class="image mt-5" th:src="@{'images/' + ${item[1]}}">
                    <p class="p-5" th:text="${item[2]}"></p>
                </div>
            </div>
            <div class="row mt-5">
                    <div th:each="item: ${gifItems}" class="col content card ms-2 me-2">
                        <p class="item-price" th:text="${item[0]}"></p>
                        <img type="gif" class="image mt-5" th:src="@{'images/' + ${item[1]}}">
                        <p class="p-5" th:text="${item[2]}"></p>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>