<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head(title='Inventory')}">
</head>
<body>
    <!-- Navigation Bar Fragment -->
    <ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
    <div class="appBody">
        <div class="container p-0">

            <!-- Profile Card to display user's profile information -->
            <div class="row mt-5">
                <div class="col content card ms-2 me-2">
                    <div class="mb-5">
                        <!-- Example profile picture -->
<!--                        <img class="image"-->
<!--                             th:data-user-id="${user.userId}"-->
<!--                             th:src="@{/get-image?view-user-profile=true(userID=${user.userId})}" alt="">-->
                        <img type="gif" class="image mt-5" th:src="${user.imageURL}" alt="">
<!--                        <img type="png" class="image mt-3" th:src="@{'images/' + ${user.badgeURL}}">-->
                        <div class="user-info d-flex align-items-center mt-3">
                            <h3 class="user-name mt-3" th:text="${user.firstName} + ' ' + ${user.lastName}"></h3>
                            <!-- Badge image to the right of the user name -->
                            <img type="gif" class="badge-image ms-2" th:src="${user.badgeURL}"/>
    <!--                        <p class="user-description mt-2" th:text="${user.description}">A brief description or bio of the user</p>-->
                        </div>
                    </div>
                </div>
            </div>

<!--            This row will display the user's badge items they have-->
            <div class="row mt-5">
                <h3 class="mb-3">Badges</h3>
<!--                Iterate through the badgeItems list and display each badge item-->
<!--                NOTE: item indexes are [quantity, image, name] and are subject to change-->
                <div class="col content card ms-2 me-2" th:each="item: ${badgeItems}">
                    <div class="h-25 w-100 mt-3 inventory-card-title">
                        <h3 class="p-2" th:text="${item.name}"></h3>
                        <p class="item-quantity" th:text="${item.quantity} + 'x'"></p>
                    </div>
                    <div class="mb-5" >
                        <img type="gif" class="image mt-5" th:src="@{'images/' + ${item[1]}}">
                        <span class="shop-emoji mt-5" th:text="${item.emoji}"></span>
                        <form th:action="@{/inventory/updateBadgeURL}" method="post">
                            <input type="hidden" name="userId" th:value="${user.userId}">
                            <input type="hidden" name="badgeURL" th:value="@{'images/' + ${item[1]}}">
                            <button class="item-use-button button" type="submit">Use</button>
                        </form>
                    </div>
                </div>
            </div>
<!--                NOTE: item indexes are [quantity, image, name] and are subject to change-->
            <div class="row mt-5">
                <h3 class="mb-3 mt-5">Profile Pictures</h3>
                <div class="col content card ms-2 me-2" th:each="item: ${imageItems}">
                    <div class="h-25 w-100 mt-3 inventory-card-title">
                        <h3 class="p-2" th:text="${item.name}"></h3>
                        <p class="item-quantity" th:text="${item.quantity} + 'x'"></p>
                    </div>
                    <div class="mb-5">
                        <img type="gif" class="image mt-5" th:src="@{'images/' + ${item[1]}}">
                        <img type="gif" class="image mt-5" th:src="@{/get-image?shop=true(imageID=${item.image.id})}" alt="Item Image">
                        <!-- Form to use this image -->
                        <form th:action="@{/inventory/updateProfile}" method="post">
                            <input type="hidden" name="userId" th:value="${user.userId}" />
                            <input type="hidden" name="imageURL" th:value="'images/' + ${item[1]}" />
                            <button class="item-use-button button" type="submit">Use</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>