<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Lost Password</title>
    <link href="/css/formStyles.css" rel="stylesheet"/>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('form').addEventListener('keydown', function(event) {
                let submitButton = document.getElementById("submitButton");
                let cancelButton = document.getElementById("cancelButton");
                if (event.key === 'Enter' && document.activeElement !== submitButton) {
                    if(document.activeElement === cancelButton) {
                        cancelButton.click();
                    }
                    event.preventDefault();
                    return false;
                }
            });
        });
    </script>
</head>
<body>
<div class="content">
    <div>
        <h2>Reset Password</h2>
        <div>
            <!-- the 'novalidate' disables the default HTML5 validation -->
            <form id="lostPasswordForm" th:action="@{/lost-password-form}" method="post" novalidate>
                <label for="email"> Forgot your password? </label>
                <br/>

                <input type="text" class="form-control" id="email"
                       placeholder="Enter your email"
                       th:name="email" th:value="${email}" data-cy="email" required autofocus
                       th:class="${lostPasswordEmailError != null ? 'error' : 'form-control'}">
                <br/>
                <br/>

                <!-- Display error message if there is an error with the email existing-->
                <div th:if="${lostPasswordEmailError}" class="error-message" th:text="${lostPasswordEmailError}"></div>
                <br/>

                <!-- Display confirmation message if user enters a valid email-->
                <div th:if="${confirmationMessage}" th:utext="${confirmationMessage}"></div>
                <br/>

                <div class="buttons">
                    <button type="submit" onclick="validateEmail()" id="submitButton">Send Email</button>
                    &nbsp;
                    <a th:href="@{/home}" id="cancelButton">
                        <button type="button">Cancel</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    // When the page is loaded
    window.addEventListener('load', function() {
        let emailInput = document.getElementById("email");
        // If there is an email in the local storage
        if (localStorage.getItem('email')) {
            // Populate the email field with the email from the local storage
            emailInput.value = localStorage.getItem('email');
            // Clear the email from the local storage
            localStorage.removeItem('email');
        }
    });
    function validateEmail() {
        localStorage.setItem('expiredTokenMessage',"Reset password link has expired");
        let emailInput = document.getElementById("email");
        let emailValue = emailInput.value;
        let emailError = document.getElementById("lostPasswordEmailError");

        // Store the email in the local storage
        localStorage.setItem('email', emailValue);

        // Regex to check for a basic email pattern
        let emailRegex = /^[A-Za-z0-9+_.-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$/;

        if ((!emailRegex.test(emailValue) && emailValue) || !emailValue) {
            emailError.innerText = "Email address must be in the form 'jane@doe.nz'";
            emailInput.classList.add("error");
            event.preventDefault();
        } else {
            emailError.innerText = "";
            emailInput.classList.remove("error");
        }
    }
</script>
</body>
</html>