<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Gardener's Grove</title>
        <!-- Bootstrap CSS -->
        <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet">
        <!-- Navbar styling -->
        <link th:href="@{/css/navBar.css}" rel="stylesheet"/>
        <link th:href="@{/css/homeMainStyles.css}" rel="stylesheet"/>
    </head>
    <body>
        <ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
        <div class="content appBody">
            <div class="container mt-4">
                <h2 class="text-center mb-3">Leaderboard</h2>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered text-center">
                        <thead class="bg-dark text-white">
                        <tr>
                            <th>Ranking</th>
                            <th>Username</th>
                            <th>Blooms</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Updated to use topUsers as per the controller's model attribute -->
                        <tr th:each="user, index : ${topUsers}">
                            <td th:text="${index.index + 1}"></td>
                            <td th:text="${user.firstName}"></td> <!-- Assuming the username is stored in firstName -->
                            <td th:text="${user.bloomBalance}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>


        </div>
    </body>
</html>