<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Manage Friends</title>
        <!-- Navbar styling -->
        <link th:href="@{/css/navBar.css}" rel="stylesheet"/>
        <link th:href="@{/css/homeMainStyles.css}" rel="stylesheet"/>
        <link th:href="@{/css/generalStyles.css}" rel="stylesheet"/>
        <script th:src="@{javascript/prevent-enter-submit.js}"></script>
        <script th:src="@{/javascript/hover-enter.js}"></script>
        <script th:src="@{/javascript/manage-friends.js}"></script>
    </head>
    <body>
        <ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
        <div>
            <div class="manage-friends-page">
                <div>
                    <div class="friends-container">
                        <div th:if="${#lists.isEmpty(friends)}">
                            <h3>Your friends will be shown here</h3>
                        </div>

                        <div th:if="${!#lists.isEmpty(friends)}">
                            <h3>Your Friends</h3>
                            <div>
                                <form th:action="@{/manage-friends}" method="post" novalidate>
                                    <input type="hidden" th:name="action" th:id="friend-action" th:value="remove" />
                                    <input type="hidden" th:name="email"  th:id="friend-email" />

                                    <ul>
                                        <li th:each="friend, stat : ${friends}">
                                            <div class="background">
                                                <div class="align-left">
                                                    <img class="image-small" th:src="@{/get-image?view-user-profile=true(userID=${friend.userId})}" alt="">
                                                    &nbsp;
                                                    <h3 th:text="${friend.firstName + ' ' + friend.lastName}"></h3>
                                                </div>
                                                <div th:id="removeFriend + ${stat.index}" th:hidden="false">
                                                    <div class="buttons-right">
                                                        <button type="button" th:attr="onclick=|toggleRemoveFriend('${stat.index}')|">Remove Friend</button>
                                                    </div>
                                                </div>
                                                <div th:id="confirmRemoveFriend + ${stat.index}" th:hidden="true">
                                                    <div class="buttons-right">
                                                        <button type="submit" th:attr="onclick=|setActionAndEmail('friend', null, '${friend.email}')|">Confirm</button>
                                                        <button type="button" th:attr="onclick=|toggleRemoveFriend('${stat.index}')|">Cancel</button>
                                                    </div>
                                                </div>

                                                <div class="buttons-right">
                                                    <a th:href="@{'/view-gardens?id=' + ${friend.userId}}">
                                                        <button type="button">View Gardens</button>
                                                    </a>
                                                </div>
                                            </div>
                                            <br/>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div>
                        <div class="buttons-centre">
                            <button onclick="toggleForm()">Add Friend</button>
                        </div>
                    </div>
                    <div class="search-container">
                        <form th:action="@{/manage-friends}" method="post" novalidate th:hidden="${showSearch}">
                            <div class="search-div">
                                <label for="search"></label>
                                <input th:name="searchQuery"
                                       th:value="${searchQuery}"
                                       class="search-field"
                                       id="search"
                                       type="text"
                                       placeholder="Search for a friend">
                                &nbsp;&nbsp;&nbsp;
                                <div class="search-button">
                                    <button type="submit" onclick="searchAndShowResults()">Search</button>
                                </div>
                            </div>

                            <input type="hidden" name="action" th:id="search-action" th:value="invite" />
                            <input type="hidden" name="email"  th:id="search-email" />

                            <div class="search-friend" id="searchFriend">
                                <br/>
                                <p th:if="${searchResultMessage}" class="search-field-message" th:text="${searchResultMessage}"></p>
                                <div>
                                    <div th:if="${matchedUsers}" class="results-container" id="results-container">
                                        <ul>
                                            <li th:each="matchedUser : ${matchedUsers}">
                                                <div class="friend-form">
                                                    <div class="align-left">
                                                        <h3 th:text="${matchedUser.firstName + ' - ' + matchedUser.email}"></h3>
                                                    </div>
                                                    <div class="empty-space"></div>
                                                    <div class="buttons-right">
                                                        <button type="submit" th:attr="onclick=|setActionAndEmail('search', null, '${matchedUser.email}')|">Invite as Friend</button>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="requests-container">
                        <h3>Friend Requests</h3>
                        <div class="friend-container-scroll" th:if="${pendingRequests}">
                            <form th:action="@{/manage-friends}" method="post" novalidate>
                                <input type="hidden" th:name="action" th:id="request-action" />
                                <input type="hidden" th:name="email" th:id="request-email" />

                                <ul>
                                    <li th:each="pendingRequest, stat : ${pendingRequests}">
                                        <div>
                                            <div class="friend-form">
                                                <div class="align-left">
                                                    <h3 th:text="${pendingRequest.sender.firstName}"></h3>
                                                </div>
                                                <div class="empty-space"></div>
                                                <div class="buttons-right">
                                                    <button type="submit" th:attr="onclick=|setActionAndEmail('request', 'accept', '${pendingRequest.sender.email}')|">
                                                        Accept
                                                    </button>
                                                    <button type="submit" th:attr="onclick=|setActionAndEmail('request', 'delete', '${pendingRequest.sender.email}')|">
                                                        Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                    <div class="requests-container">
                        <h3>Sent Requests</h3>
                        <div class="friend-container-scroll" th:if="${sentRequests}">
                            <form th:action="@{/manage-friends}" method="post" novalidate>
                                <input type="hidden" th:name="action" th:id="sent-action" th:value="cancel" />
                                <input type="hidden" th:name="email"  th:id="sent-email" />

                                <ul>
                                    <li th:each="sentRequest : ${sentRequests}">
                                        <div>
                                            <div class="friend-form">
                                                <div class="align-left">
                                                    <h3 th:text="${sentRequest.receiver.firstName + ' - ' + sentRequest.receiver.email}"></h3>

                                                </div>
                                                <div class="empty-space"></div>
                                                <div class="buttons-right">
                                                    <h3 th:text="${sentRequest.status}"></h3>
                                                    &nbsp
                                                    <button type="submit"
                                                            th:attr="onclick=|setActionAndEmail('sent', null, '${sentRequest.receiver.email}')|"
                                                            th:text="${sentRequest.status == 'Pending'} ? 'Cancel'
                                                        : (${sentRequest.status == 'Declined'} ? 'Clear' : '')">
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
