<!DOCTYPE html>
<html lang="en">
<!-- Head fragment holding all the style sheets -->
<head th:replace="fragments/head :: head(title='Messaging App')"> </head>
<body>
<!-- NavBar Fragment -->
<ul th:insert="~{fragments/navBar.html :: navBar}"></ul>

<!-- Messaging App UI -->
<div class="container-fluid chat-container">
    <div class="row h-100">
        <!-- Sidebar -->
        <div class="col-md-3 col-sm-4 p-4 bg-light chat-side-bar">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4>Chats</h4>
            </div>
            <input type="text" class="form-control mb-4" placeholder="Search">

            <!-- Friends Chats -->
            <div>
                <div th:if="${#lists.isEmpty(friends)}">
                    <p>Your friends will be shown here</p>
                </div>

                <div th:if="${!#lists.isEmpty(friends)}">
                    <ul class="list-unstyled">
                        <li th:each="friend : ${friends}">
                            <div class="background p-2 mb-2">
                                <div class="d-flex align-items-center">
                                    <img class="image-small" th:src="@{/get-image?view-user-profile=true(userID=${friend.userId})}" alt="">
                                    <div class="ms-3">
                                        <h6 class="mb-0" th:text="${friend.firstName + ' ' + friend.lastName}"></h6>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Main Chat Area -->
        <div class="col-md-9 col-sm-8 d-flex align-items-center justify-content-center bg-white">
            <div>
                <h2 class="text-dark">Welcome to Sprout</h2>
            </div>
        </div>
    </div>
</div>

<!-- Scripts fragment, contains bootstrap scripts -->
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>
