<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gardener's Grove</title>
    <!-- Navbar styling -->
    <link th:href="@{/css/navBar.css}" rel="stylesheet"/>
    <link th:href="@{/css/homeMainStyles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation Bar Fragment -->
<ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
<div>
    <div>
        <br/>
        <h1>Plant Guesser</h1>
        <br/>
    </div>
    <div class="centre">
        <h3 th:text="'Family: ' + ${plantFamily}"> </h3>
    </div>
    <div class="centre">
        <h3 th:text="'Name: ' + ${commonName}"> </h3>
    </div>
    <div class="centre">
        <div>
            <img class="image" th:src="@{${plantImage}}" alt="picture"/>
        </div>
        <div>
            <label th:text="'Image source: ' + ${imageCredit}"></label>
        </div>
    </div>
</div>
</body>
</html>