<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Reset Password</title>
    <link href="/css/formStyles.css" rel="stylesheet"/>
    <script th:src="@{javascript/prevent-enter-submit.js}"></script>
</head>
<body>
<div class="content">
    <div>
        <h2>Reset Your Password</h2>
        <div>
            <form id="resetPasswordForm" th:action="@{/reset-password-form}" method="post" novalidate>
                <input type="hidden" id="changePasswordFormInput" th:name="changePasswordFormInput" th:value="${changePasswordFormInput}" >
                <!-- Change Password Form -->
                <div id="changePasswordForm">
                    <!-- Hidden input field for token for submission -->
                    <input type="hidden" name="token" th:value="${token}">

                    <!-- New Password Field -->
                    <label for="newPassword">New Password:</label>
                    <br/>
                    <input type="password" id="newPassword" name="newPassword" class="form-control" th:value="${newPassword}" th:classappend="${newPasswordError != null ? 'error' : ''}">
                    <!-- Placeholder for New Password Validation Error -->
                    <div class="error-message" th:if="${newPasswordError}" th:text="${newPasswordError}"></div>
                    <br/>
                    <br/>

                    <!-- Retype New Password Field -->
                    <label for="retypedPassword">Retype New Password:</label>
                    <br/>
                    <input type="password" id="retypedPassword" name="retypedPassword" class="form-control" th:value="${retypedPassword}" th:classappend="${passwordMatchError != null ? 'error' : ''}">
                    <!-- Placeholder for Password Match Error -->
                    <div class="error-message" th:if="${passwordMatchError}" th:text="${passwordMatchError}"></div>
                    <br/>
                    <br/>

                    <!-- Submit Changed Password Button -->
                    <div class="buttons-centre">
                        <button type="submit" id="submitNewPasswordButton">Change Password</button>
                    </div>
                </div>
                <!-- End Change Password Section -->
            </form>
        </div>
    </div>
</div>
</body>
</html>