<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head(title='Shop')">
</head>
<body>
<!-- Navigation Bar Fragment -->
<ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
<div class="appBody">
    <div class="container p-0">

        <!-- This row will display the shop's badge items it has -->
        <div class="row item-row mb-4">
            <h3 class="mb-3 mt-1">Badges</h3>
            <!-- Iterate through the badgeItems list and display each badge item-->
            <div class="col content card ms-2 me-2 fixed-width-card" th:each="item: ${badgeItems}">
                <div class="h-25 w-100 mt-3 inventory-card-title">
                    <h3 class="p-2" th:text="${item.name}"></h3>
                    <p class="item-quantity" th:text="${item.price} + '฿'"></p>
                </div>
                <!-- Display the badge item's icon -->
                <div class="mb-5 mt-4" >
                    <img type="png" class="image mt-5" th:src="@{/get-image?imageItem=true(imageID=${item.icon.id})}">
                    <div class="mt-5">
                        <!-- Purchase Form -->
                        <form th:action="@{/shop}" method="post">
                            <input type="hidden" name="itemId" th:value="${item.id}"/>
                            <button type="submit" class="item-use-button button mt-5">Purchase</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Display error message if present -->
        <div th:if="${purchaseNotSuccessful}" class="alert alert-danger" role="alert">
            <span th:text="${purchaseNotSuccessful}"></span>
        </div>

        <!-- Display success message if present -->
        <div th:if="${purchaseSuccessful}" class="alert alert-success" role="alert">
            <span th:text="${purchaseSuccessful}"></span>
        </div>

        <div th:if="${#bools.isFalse(purchaseSuccessful)} and ${#bools.isFalse(purchaseNotSuccessful)}" class="alert alert-info invisible" role="alert">
            <span>&nbsp;</span>
        </div>

        <!-- This row will display the shop's image items -->
        <div class="row item-row mb-3">
            <h3 class="mb-3">Profile Pictures</h3>
            <!-- Iterate through the imageItems list and display each image item-->
            <div class="col content card ms-2 me-2 fixed-width-card" th:each="item: ${imageItems}">
                <div class="h-25 w-100 mt-3 inventory-card-title">
                    <h3 class="p-2" th:text="${item.name}"></h3>
                    <p class="item-quantity" th:text="${item.price} + '฿'"></p>
                </div>
                <!-- Display the image item's gif -->
                <div class="mb-5">
                    <img type="gif" class="shop-image mt-5" th:src="@{/get-image?imageItem=true(imageID=${item.image.id})}" alt="Item Image">
                    <div class="mt-5">
                        <!-- Purchase Form -->
                        <form th:action="@{/shop}" method="post">
                            <input type="hidden" name="itemId" th:value="${item.id}"/>
                            <button type="submit" class="item-use-button button mt-5">Purchase</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
