<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Tag Moderation Test</title>
    <link th:href="@{/css/generalStyles.css}" rel="stylesheet"/>
</head>
<body>
    <div class="content">
        <form id="tagForm" th:action="@{/tag}" method="post" novalidate>

            <input type="text" class="form-control" id="tag"
                   th:name="tag" required autofocus

            <br/>

            <div id="tagError" th:if="${tagError}" class="error-message" th:text="${tagError}"></div>

            <div class="buttons-centre">
                <button type="submit" id="submitButton">Add tag</button>
            </div>
        </form>
    </div>

</body>
</html>