<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Upload Image</title>
    <link th:href="@{/css/gardenStyles.css}" rel="stylesheet">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
    <script th:src="@{/javascript/image-handling.js}"></script>
</head>
<body>
<ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
    <div style="text-align: center">
        <h1 style="text-align: center">Upload Image</h1>
        <p class="garden-header" style="margin-bottom: 25px">Includes .png, .jpg, .svg, less than 10Mb</p>
        <div style="margin-bottom: 25px">
            <input style="display: none;" th:value="imagePath" class="fileInput" type="file" name="file" id="file">
            <label for="file" style="background-color: #8ffa8f;
                                    border-radius: 5px;
                                    cursor: pointer;
                                    padding: 2px;
                                    border: solid 2px;">Choose file
            </label>
            <button type="submit">Upload</button>
        </div>
        <img class="image" th:data-plant-id="${id}" th:data-picture="${picture}" alt="">
        <br/>
        <a th:href="@{${lastEndpoint}}" id="cancel">
            <button type="button">Cancel</button>
        </a>
    </div>

</body>
</html>