<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Image</title>
    <link href="/css/gardenStyles.css" rel="stylesheet">
</head>
<body>
    <ul class="navBar">
        <li><a class="navLink" th:href="@{/create-garden}">Create a Garden</a></li>
        <li><a class="navLink" th:href="@{/view-gardens}">View Gardens</a></li>
    </ul>
    <input th:value="imagePath" class="fileInput" type="file" name="file" id="file">
    <button type="submit">Upload</button>
    <br/>
    <a href="/view-gardens">Back to Gardens</a>
<script src="/javascript/image_handling.js"></script>
</body>
</html>