<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>View Garden</title>
    <link th:href="@{/css/gardenStyles.css}" rel="stylesheet">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
</head>
<body>
<!--    <ul class="navBar">-->
<!--        <li><a class="navLink" th:href="@{create-garden}">Create a Garden</a></li>-->
<!--        <li><a class="navLink" th:href="@{view-gardens}">View Gardens</a></li>-->
<!--    </ul>-->
    <ul th:insert="~{fragments/navBar.html :: navBar}"></ul>
    <div class="wrapper">
        <div class="container">
            <table class="sideBar">
                <thead>
                <tr>
                    <th class="garden-header">Gardens</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="garden : ${gardens}">
                    <td><a class="gardenLink" th:href="@{'/view-garden?gardenID=' + ${garden.id}}"><span th:text="${garden.name}"> Name </span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="gardenContainer">
            <div class="gardenDetails">
                <div class="containerRow">
                    <label> Garden Name:&nbsp;</label>
                    <h3 th:text="${gardenName}">  </h3>
                </div>
                <div class="containerRow">
                    <label>Garden Location:&nbsp;</label>
                    <h3 th:text="${gardenLocation}">  </h3>
                </div>
                <div class="containerRow" th:classappend="${gardenSize == '' ? 'disabled' : ''}">
                    <label>Garden Size:&nbsp;</label>
                    <h3 th:text="${gardenSize}"></h3>
                </div>
                <div class="buttons-right">
                    <a th:href="@{'/edit-garden?gardenID=' + ${gardenID}}">
                        <button type="button">Edit</button>
                    </a>
                    &nbsp;
                    <a th:href="@{'/create-plant?gardenID=' + ${gardenID}}">
                        <button type="button">Add new plant</button>
                    </a>
                </div>
            </div>
            <div class="plantContainer">
                <table>
                    <thead>
                    <tr class="garden-table">
                        <th>Picture &nbsp;</th>
                        <th>Plant Name &nbsp;</th>
                        <th>Count &nbsp;</th>
                        <th>Description &nbsp;</th>
                        <th>Date Planted</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="plant : ${plants}" class="plant-row">
                        <td>
                            <div style="position: relative;">
                                <img class="image" th:data-plant-id="${plant.id}" th:data-picture="${plant.picture}" alt="">
                                <button class="image_picker" th:id="${'button_' + plant.id}">+</button>
                            </div>
                        </td>
                        <td th:text="${plant.name}"></td>
                        <td th:text="${plant.count}"></td>
                        <td th:text="${plant.description}"></td>
                        <td th:text="${plant.datePlanted}"></td>
                        <td><a th:href="@{'/edit-plant?plantID=' + ${plant.id}}">
                                <button type="button">Edit</button>
                            </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script th:src="@{/javascript/redirect_image_handler.js}"></script>
</body>
</html>
<script>
    window.addEventListener('DOMContentLoaded', () => {
        const plantContainer = document.querySelector('.plantContainer');
        const gardenDetails = document.querySelector('.gardenDetails');

        // Adjust width of gardenDetails initially
        adjustWidth();

        // Adjust width of gardenDetails when window is resized
        window.addEventListener('resize', adjustWidth);

        function adjustWidth() {
            const width = plantContainer.offsetWidth;
            gardenDetails.style.width = `${width}px`;
        }
    });

</script>