<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Gardens</title>
    <link href="/css/gardenStyles.css" rel="stylesheet">
    <link th:href="@{/css/navBar.css}" rel="stylesheet">
</head>
<body>
<!--    <ul class="navBar">-->
<!--        <li><a class="navLink" th:href="@{create-garden}">Create a Garden</a></li>-->
<!--        <li><a class="navLink" th:href="@{/view-gardens}">View Gardens</a></li>-->
<!--    </ul>-->
    <ul th:insert="/fragments/navBar.html :: navBar"></ul>
    <div class="wrapper">
        <div class="container">
            <table class="sideBar">
                <thead>
                <tr>
                    <th>Gardens</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="garden : ${gardens}">
                    <td><a class="gardenLink" th:href="@{'/view-garden?gardenID=' + ${garden.id}}"><span th:text="${garden.name}"> Name </span></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="gardenTable">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Size</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="garden : ${gardens}">
                    <td><span th:text="${garden.name}"> Name </span></a></td>
                    <td><span th:text="${garden.location.streetAddress}"> Location </span></td>
                    <td><span th:text="${garden.size}"> Size </span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>